<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="src/css/bootstrap.min.css" rel="stylesheet">
    <title>Track Stock</title>
  </head>
  <body onbeforeunload="return chksave()">
    <div id="top" class="container" ng-app="trackstockapp" ng-controller="tsctrlmain">

      <button type="button" class="btn btn-primary" ng-click="updateCode()">UpdateCode</button>
      <button type="button" class="btn btn-danger" ng-click="saveFile()">SaveToFile</button>
      <button type="button" class="btn btn-danger" ng-click="clearAll()">ClearAll</button>
      <button type="button" class="btn btn-danger" ng-click="clearData()">ClearData</button>


      <!-- 当前持股 -->
      <p>当前现金:</p>
      <div id="c1"></div>
      <!-- 当前现金+当前收益（RMB + %) -->
      <p>投入/收益(负为收益):</p>
      <div id="c2"></div>

      <br/>
      <ul class="list-group">
          <li class="list-group-item">
            stockname cur_price amount cost/share totalmoney # codeOnsina #
            </li>
          <li class="list-group-item" ng-repeat="x in stock">
            {{x.stockname}} {{ x.price | number:2 }}  {{ x.amount }} {{x.cost | number:2}} {{x.money | number:2 }} # {{ x.code }} #
             <span class="label {{getlabelcolor((x.price-x.cost)*100/x.cost)}}">
              {{(x.price-x.cost)*x.amount | number:2}} ( {{ (x.price-x.cost)*100/x.cost | number:2 }}% )
              </span>  
          </li>
        </ul>
        <div class="input-group">        
           <input  ng-model="tmpstcode" class="form-control" placeholder="update: name code">
          <span class="input-group-btn">
            <button class="btn btn-default" ng-click="updateCode()">Update</button>
          </span>
        </div>

      <h1>Import Data...<a href="#addme">ADD Single</a></h1>
      

      <div class="jumbotron" id="dropbox">
 	      
        Drop File Here...<br/>
        Or Click<br/>
    
      <input class="btn btn-primary btn-lg" type="file" multiple onchange="readData(this.files)">

      //这个重新选择的方式就是，选文件的时候点取消
      </div>


      <button ng-click="clearQueue()" class="btn btn-warning btn-lg"> Discard Data </button>
      <button ng-click="addData()" class="btn btn-primary btn-lg"> Add Data </button>
      <p>Data in Queue(from files)</p>      
      <pre id="datainqueue"></pre>

      <div>
        <p>Data Editor</p>
        <div class="checkbox">
          <label>
          <input type="checkbox" ng-model="chkeditor">
            Enable Editor...
          </label>
        </div>
       
        <ul class="list-group" ng-hide="!chkeditor">
          <li class="list-group-item" ng-repeat="x in adata track by $index " >
           {{$index}} -  {{ x }} 
            <span class="badge" ng-click="removeItem($index)">&times;</span>
          </li>
        </ul>
        <div class="input-group" ng-hide="!chkeditor">        
           <input id="addme" ng-model="addMe" class="form-control" placeholder="name price amount...">
          <span class="input-group-btn">
            <button class="btn btn-default" ng-click="addItem()">Add</button>
            <button class="btn btn-default">UNDO</button>
          </span>
        </div>
        <a href="#top">To Top</a>
        <p>LOG:</p>
        <ul>
          <li ng-repeat="g in datalog">{{g}}</li>
        </ul>
        ----------------</br>

        

        
        </br>
        </br>
        </br>
      </div>
    </div>
    

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- script src="src/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- script src="src/js/bootstrap.min.js"></script -->
    <script src="src/g2.js"></script>
    <script src="src/angular.min.js"></script>
    <script src="lib/dataproc.js"></script>
    <script src="lib/datapaint.js"></script>
    <script src="lib/entry.js"></script>
    <script src="lib/app.js"></script>
    
  </body>
  
</html>